body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #F5F2E7;
	font-family: sans-serif;
}
.calendar{
	position: relative;
	background: white;
	width: 800px;
	height: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border:15px solid white;
	box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.calendar .date{
	width: 400px;
	padding: 30px;
	box-sizing: border-box; 
}
.calendar .date h3{
	margin:  0 0 20px;
	padding: 0;
	font-size: 24px;
	text-align: center;
}
.calendar .date .days{
	display: flex;
	flex-wrap: wrap;
}
.calendar .date .days .day, .calendar .date .days .number{
	width: 48px;
	height: 48px;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.calendar .date .days .active{
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #484848;
	color: #fff;
	cursor: pointer;
}
.calendar .date .days .number:hover{
	top: 0;
	left: 0;
	border-radius: 50%;
	background: #996445;
	color: #fff;
	cursor: pointer;
}
.calendar .date .days .day:first-child,
.calendar .date .days .number:nth-child(7n+1){
	color: #f44336;

}
.calendar .image{
	position: cover;
	top: 0;
	right: 0;
	height: 100%;
	width: 400px;
	background: black;
}
.calendar .image img{
	position: cover;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
}